/* GENERAL */

/* css reset */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: -1;
  background-color: rgb(252, 244, 213);
}

header {
  max-width: 100%;
  min-height: 70px;
  background-color: #f6e5b3;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

/* @media screen and (width: 480px) {
  ul{
    display: flex;
    flex-direction: column;

  }
  } */
#searchBar {
  background-color: rgb(252, 244, 213);
  width: 1000px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border: none;
}

#indexMain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* GENERAL */

/* INDEX.HTML */
#mainDiv {
  background-color: #f6e5b3;
  margin: 20px;
  padding: 20px;
  gap: 20px;
  width: 80%;
  height: 90svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075);
}

#midDiv1 img {
  max-width: 550px;
  max-height: 550px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.225);
}

#midDiv2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#bottomDiv1 {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
}

/* #bottomDiv2 {
} */

#buttonOne {
  border: none;
  border-radius: 20px;
  background-color: rgb(185, 137, 73);
  font-size: 24px;
  color: white;
  width: 150px;
  height: 50px;
  transition: 0.4s;
}

#buttonOne:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.277);
  transition: 0.4s;
  width: 170px;
  height: 60px;
  font-size: 26px;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.277);
  cursor: pointer;
}
/* INDEX.HTML */

/* BOOKING.HTML */
#bookingMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#headerDiv {
  background-color: #f6e5b3;
  width: 80%;
  height: 150px;
  margin: 20px 20px 20px 20px;
  border-radius: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
}
#headerDiv h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}

.options {
  background-color: #f6e5b3;
  width: 50svw;
  min-height: 150px;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.277);
}

.options h1 {
  text-align: center;
}
.options p {
  font-size: 24px;
  text-align: center;
}

.orderBtn {
  border: none;
  border-radius: 20px;
  background-color: rgb(185, 137, 73);
  font-size: 24px;
  color: white;
  width: 150px;
  height: 50px;
  transition: 0.4s;
}
.orderBtn:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.277);
  transition: 0.4s;
  width: 170px;
  height: 60px;
  font-size: 26px;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.277);
  cursor: pointer;
}
/* BOOKING.HTML */

/* FEEDBACK.HTML */
