* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100svh;
}

header {
  width: 100svw;
  height: 70px;
  background-color: #f6e5b3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
#logo-right {
  display: flex;
  align-self: flex-start;
}
